<footer>
    <nav class="navbar  navbar-expand-sm navbar-dark " style="background-color: #595957;height: 112px;">

        <div class="collapse navbar-collapse " id="navbarCollapse">
            <div class="row w-100">
                <div class="col-12 col-md-7">
                    <ul class="navbar-nav ">
                        <li class="nav-item active ml-5">
                            <a class="nav-link ">Copyright © 2020. All Rights Reserved. <span
                                    class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-md-5">
                    <ul class="navbar-nav ">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#">FEATURES <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#">TERMS <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#">PRIVACY <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#">CONTACT US <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#">
                                <div class="d-flex">
                                    <div class="mr-3">
                                        <img src="assets/images/basicLogo/facebook_logo.svg" alt="">
                                    </div>
                                    <div class="mr-3">
                                        <img src="assets/images/basicLogo/instagram_logo.svg" alt="">
                                    </div>
                                    <div class="mr-3">
                                        <img src="assets/images/basicLogo/twitter_logo.svg" alt="">
                                    </div>
                                </div>
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </nav>
</footer>