<div class="container">
    <div class="container-fluid">
        <section>
            <div class="row">
                <div class="col-12 col-lg-6 col-md-6 col-sm-6">
                    <div>
                        <img src="assets/images/basicLogo/filed-logo-01.png" alt="">
                    </div>
                    <div class="main-header mt-5">
                        <div>
                            Book a demo today and
                        </div>
                        <div>
                            get two weeks for free. Why?
                        </div>
                    </div>
                    <div class="header mt-3">
                        Because Our AI-Powered Software Will Exceed Your Marketing Goals.
                    </div>
                    <div class="mt-5">
                        <img src="assets/images/basicLogo/blue_dots.svg" alt="">
                        <img src="assets/images/basicLogo/desktop.png" alt="" style="width: 70%;">
                    </div>

                </div>
                <div class="col-12 col-lg-6 col-md-6 col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="sub-header mt-4" style="display: flex; justify-content: center;">
                                We’ll be in touch to get your trial set up.
                            </div>
                            <div class="fill-out-form mt-2" style="display: flex; justify-content: center;">
                                Fill Out Form
                            </div>


                            <form [formGroup]="userDetailForm">
                                <div class="row">
                                    <div class="col-12 col-lg-6 col-md-6 col-sm-6 mt-4">
                                        <span class="square-input-box">
                                            <input type="text" class="input-field" type="text"
                                                formControlName="firstName" placeholder="First Name*" />
                                        </span>
                                        <p class="error-message" *ngIf="firstName.invalid && isSubmited">
                                            Email is Required
                                        </p>
                                    </div>

                                    <div class="col-12 col-lg-6 col-md-6 col-sm-6 mt-4">
                                        <span class="square-input-box">
                                            <input type="text" class="input-field" type="text"
                                                formControlName="lastName" placeholder="Last Name*" />
                                        </span>
                                        <p class="error-message" *ngIf="lastName.invalid && isSubmited">
                                            Email is Required
                                        </p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12 col-lg-12 col-md-12 col-sm-12 mt-4">
                                        <span class="square-input-box">
                                            <input type="text" class="input-field" type="email" formControlName="email"
                                                placeholder="Work Email*" />
                                        </span>
                                        <p class="error-message" *ngIf="email.invalid && isSubmited">
                                            Email is Required
                                        </p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12 col-lg-12 col-md-12 col-sm-12 mt-4">
                                        <span class="square-input-box">
                                            <input type="text" class="input-field" type="number"
                                                formControlName="monthlyAdvertisingBudget"
                                                placeholder="Monthly Advertising Budget* (in $)" />
                                        </span>
                                        <p class="error-message" *ngIf="monthlyAdvertisingBudget.invalid && isSubmited">
                                            Email is Required
                                        </p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12 col-lg-12 col-md-12 col-sm-12 mt-4">
                                        <span class="square-input-box">
                                            <input type="text" class="input-field" type="phone"
                                                formControlName="phoneNumber" placeholder="Phone Number*" />
                                        </span>
                                        <p class="error-message" *ngIf="phoneNumber.invalid && isSubmited">
                                            Email is Required
                                        </p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12 col-lg-12 col-md-12 col-sm-12 mt-4"
                                        style="display: flex; justify-content: center;">
                                        <button class="btn btn-secondary trial-btn w-100" (click)="submitUserDetails()">
                                            GET FREE TRIAL
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>